
table span.left { float: left;padding-bottom: 18px;padding-top:  8px;}
table span.right { float: right; padding-bottom: 18px;padding-top:  8px;}

span.paginator { margin: 0; padding: 0;}
span.paginator span {/*margin-left: 3px;*/}
span.paginator span.page1 a { 
    /*padding: 5px 10px;*/
    padding: 9px 15px;
    /*display: inline-block;
    color: #797979;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;*/
    
    /*float: left;*/
    
    line-height: 1.57142857;
    text-decoration: none;
    color: #76838f;
    background-color: transparent;
    border: 1px solid #e4eaec;
    margin-left: -1px;
}
span.paginator span.page1 a:hover { 
  /*    background-color: #eee; */
  color: #89bceb;
    background-color: #f3f7f9;
    border-color: #e4eaec;
}
span.paginator span.arrow {  
    /*padding: 5px 10px;*/
    color: #76838f;
    padding: 9px 15px;
    margin-left: -1px;
    /*border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;*/
     border: 1px solid #e4eaec;
    /*display: inline-block;
    color: #797979;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;*/
}

span.paginator span.arrow a {  color:#000; text-decoration: none; }
span.paginator span.arrow:hover {  
    /*background-color: #eee;*/
 color: #89bceb;
    background-color: #f3f7f9;
    border-color: #e4eaec;
}
span.paginator span.selected { 
    /*padding: 5px 10px;
    display: inline-block;
    color: #797979;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;*/
     cursor: default;
    border: 1px solid #e4eaec;
    margin-left: -1px;
    padding: 9px 15px;
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a;
   
}
span.paginator span.break { color: #780000; margin: 0 0px 0 0px; }
span.paginator span.ellipsis { color: #780000;  margin: 0 0px 0 0px; }



.bodyDialog{
    clear: both;
    float: none;
    margin: 10px auto 70px;
    padding: 0px;
    text-align: left;
    width: 100%;
    color:#767676;  
}

.footerDialog{   
    clear: both;
    background-image: none;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    bottom: 0;   
    margin: 0px;    
    padding: 0px;
    text-align: right;
    width: 100%;
    height: 60px;
    left: 0;
    position: absolute;
}

.footerDialog div{
    padding: 15px 15px 0px 15px;
    width: 100%;
}

.formTableDialog{
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}

::-webkit-scrollbar {
    width: 9px;

}
::-webkit-scrollbar-button {
    width: 0px;
    height:0px;
}
::-webkit-scrollbar-track {
    background:#f4f4f4;
    /*border: skinny plain lightgray;*/
    box-shadow: 0px 0px 3px #dfdfdf inset;
    /*border:  1px solid #c0c0c0 ;*/
    /*border-radius:10px;*/
}

::-webkit-scrollbar-track:hover {
    background:#F1F1F1;
}

::-webkit-scrollbar-thumb {
    background:#BDBDBD;
    /*border: skinny plain gray;*/
    /* border: 2px solid #ccc;*/
    /*border-radius:10px;*/
}
::-webkit-scrollbar-thumb:hover {
    background:#848484;
}

/*
_-------------------loader gif
*/
.divSpinner{

}


/*
Circles styles
*/

.circle {
    border-radius: 50%;
    display: inline-block;
    /*margin-right: 20px;*/
}

span.warning-circle{
    width: 13px;
    height: 13px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 70%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 70%);

    /* webkit chrome, safari, mobile */
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 2s; /* 3 seconds */
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: spin; 
    -moz-animation-duration: 2s; /* 3 seconds */
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: spin; 
    -ms-animation-duration: 2s; /* 3 seconds */
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}

span.success-circle{
    width: 13px;
    height: 13px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #44E86D 0%, #41B25E 100%, #1A7731 70%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #44E86D, #41B25E);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #44E86D 0%, #41B25E 100%, #1A7731 70%);

    /* webkit chrome, safari, mobile */
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 2s; /* 3 seconds */
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: spin; 
    -moz-animation-duration: 2s; /* 3 seconds */
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: spin; 
    -ms-animation-duration: 2s; /* 3 seconds */
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}

span.danger-circle{
    width: 13px;
    height: 13px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #F0460E 0%, #F7290A 100%, red 70%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #F0460E, red);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #F0460E 0%, #F7290A 100%, red 70%);

    /* webkit chrome, safari, mobile */
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 2s; /* 3 seconds */
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: spin; 
    -moz-animation-duration: 2s; /* 3 seconds */
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: spin; 
    -ms-animation-duration: 2s; /* 3 seconds */
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}


.dialog-content{
    clear: both;
    float: none;
    margin: 0 auto 10px;
    padding: 0px;
    text-align: left;
    width: 100%;
    color:#767676;  
}

.dialog-footer{
    text-align: left;
    border-top: 1px solid #DFEAF2;
    background: #ffffff;
    color: #222222;
    background-image: none;
    margin: 0;
    margin-top: 10px;
    padding: 1em 0.7em .5em .4em;
    background-color: transparent
}

.dialog-buttons{
    float: right;
}

h3.confirm-delete-message{
    margin-top: 0px;
}




