body{
	background: #FFFFFF;
}

body.kyc{
	color:#373545;
}

#reg{
	color:#373545;
}

h1.about{
	color:#373545;
	font-family: cantarell;
	font-size: 50px;
	padding-top: 100px;
}
p.about{
	color:#373545;
	font-family: cantarell;
	font-size: 25px;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 10%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.content{
	color:#373545;
	font-family: cantarell;
}

.navbar-inverse {
      background: #502684;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    } 

#circle{
	height: 300px;
	width: 300px;
}

h3{
	padding-top: 30px;
	padding-left: 30px;
	font-weight: bold;
}

form{
	padding-top: 30px;
	padding-left: 30px;
	box-sizing: border-box;
}
